

.journal-grid {
    display: grid;
    grid-template-rows: 2fr 4fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.form-grid {
    display: grid;
    grid-template-rows: 5fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100vw;

}

form {
    height: auto;
    width: auto;
    margin: 0%;
}

.textbox {
    background: none;
    color: white;
}


.journal-headline {
	color: white;
    font-size: 5rem;   
    line-height: 5rem;
    text-align: center;
}


input {
    border-style: none;
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}